canvas {  
    border: 1px solid grey;
    background-color: black;
    width: 400px;
    height: 600px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }